{% extends 'base.html' %}

{% block title %}
    Gráficos tablero global
{% endblock title %}

{% block content %}
{% load static %}
{% include 'includes/header.html' %}
    <link rel="stylesheet" href="{% static 'css/graficos/graficos_tablero_global.css' %}">
    <input type="hidden" id="t_activas" value="{{t_activas}}">
    <input type="hidden" id="t_asignadas" value="{{t_asignadas}}">
    <input type="hidden" id="t_ejecucion" value="{{t_ejecucion}}">
    <input type="hidden" id="t_finalizadas" value="{{t_finalizadas}}">
    <input type="hidden" id="t_solicitadas" value="{{t_solicitadas}}">
    <input type="hidden" id="t_rechazadas" value="{{t_rechazadas}}">
    <input type="hidden" id="t_atrasadas" value="{{t_atrasadas}}">
    <input type="hidden" id="t_vencidas" value="{{t_vencidas}}">
    <input type="hidden" id="t_activasflujo" value="{{t_activasflujo}}">
    <input type="hidden" id="tflujo_anual" value="{{tflujo_anual}}">
    <input type="hidden" id="tflujo_mensual" value="{{tflujo_mensual}}">
    <input type="hidden" id="tflujo_semanal" value="{{tflujo_semanal}}">
    <input type="hidden" id="tflujo_diario" value="{{tflujo_diario}}">
    <input type="hidden" id="urol_gerente" value="{{urol_gerente}}">
    <input type="hidden" id="urol_funcionario" value="{{urol_funcionario}}">
    <input type="hidden" id="urol_cliente" value="{{urol_cliente}}">
    <input type="hidden" id="urol_disenador" value="{{urol_disenador}}">
    <input type="hidden" id="count_departamentos" value="{{count_departamentos}}">
    <div class="row">
        <div class="row" style="max-width: inherit;">
            <div class="col-6">
                <h6 class="display-6" style="font-size: 35px; text-align: center; font-style: italic;">Porcentaje total según Estado tareas</h6>
                <div id="chartdiv"></div>
            </div>
            <div class="col-6">
                <h6 class="display-6" style="font-size: 35px; text-align: center; font-style: italic;">Porcentaje total según Tipo flujo</h6>
                <div id="chartdivPIE2"></div>
            </div>
            
        </div>
        <div class="row" style="margin-top: 50px;">
            <h6 class="display-6" style="font-size: 35px; text-align: center; font-style: italic;">Cantidad de Usuarios según Rol</h6>
            <div id="chartdivXY"></div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <h6 class="display-6" style="font-size: 35px; text-align: center; font-style: italic;">Cantidad de Usuarios según Departamento</h6>
            <div id="chartdivXY2"></div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="//cdn.amcharts.com/lib/4/themes/kelly.js"></script>
    <script src="{% static 'js/graficos/graficos_tablero_global.js' %}"></script>
{% endblock js %}
    