@font-face {
    font-family: Oranienbaum;
    src: url("../../assets/fonts/Oranienbaum-Regular.ttf");
}
  
.title {
    font-family: Oranienbaum;
}

#logincontainer{
    background-color: rgba(192, 192, 218, 0.699);
    margin-top: 50px;
    width: 700px;
    height: 500px;
    border-radius: 50px;
    text-align: center;
}