body{
    background-image: url("../../assets/images/fondo/background4.jpg");
    background-size: 73%;
    background-position-x: center;
    background-attachment: fixed;
    height: 500px;
}

#homeItem{
    width: 270px;
    background-color: transparent;
}

#navbackground{
    background-color: transparent;
    height: 72px;
}

#letrasImagenes{
    font-style: italic;
    margin-right: 30px;
}

#dropdownLogin, #dropDownGestionar{
    text-align: left;
}

#menudropdown{
    border: transparent;
}

#tuercalogo{
    margin-left: 10px;
    width: 50px;
}

#userlogo{
    margin-left: 3px;
    margin-bottom: 2px;
    width: 48px;
}

#navbarms{
    margin-top: 0px;
}