{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    {% include 'includes/header.html' %}
    <div class="container-sm">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img id="homecarousel" src="{% static 'assets/images/home/home1.jpeg' %}" class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    {% if user.is_authenticated %}
                    <h1 id="bienvenido" class="display-6">Bienvenid@ "{{user.nombre_usuario}}"</h1>
                    {% endif %}  
                    <h5 style="color: rgb(223, 223, 230); font-weight: bold;">Bienvenido a Process SA</h5>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img id="homecarousel" src="{% static 'assets/images/home/home1.jpeg' %}" class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    {% if user.is_authenticated %}
                    <h1 id="bienvenido" class="display-6">Bienvenido "{{user.nombre_usuario}}"</h1>
                    {% endif %}  
                    <h5 style="color: rgb(223, 223, 230); font-weight: bold;">Bienvenido a Process SA</h5>
                </div>
              </div>
              <div class="carousel-item">
                <img id="homecarousel" src="{% static 'assets/images/home/home1.jpeg' %}" class="d-block" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    {% if user.is_authenticated %}
                    <h1 id="bienvenido" class="display-6">Bienvenido "{{user.nombre_usuario}}"</h1>
                    {% endif %}  
                    <h5 style="color: rgb(223, 223, 230); font-weight: bold;">Bienvenido a Process SA</h5>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <hr class="my-5">
        <div class="aboutus">  
            <div class="row align-items-center">
                <div class="col">
                    <h1 id="aboutustitle" class="display-6">Sobre nosotros</h1>
                    <br>
                    <p id="loremaboutus">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo libero quaerat beatae, repellat deserunt molestias? Ab, quisquam magni. Doloremque impedit, repudiandae eos nam libero vitae voluptas quos consectetur quidem unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos praesentium omnis dolores repellendus itaque dolorum laudantium sed! Error perferendis ipsam, autem tempora officia enim debitis maiores amet obcaecati, tempore doloremque.
                    </p>
                </div>
                <div class="col">
                    <img id="aboutusimg" src="{% static 'assets/images/home/home2.jpeg' %}" alt="...">
                </div>
            </div>
        </div>
        <hr class="my-5">
        <div class="aboutus">  
            <div class="row align-items-center">
                <div class="col">
                    <img id="aboutusimg1" src="{% static 'assets/images/home/home1.jpeg' %}" alt="...">
                </div>
                <div class="col">
                    <h1 id="aboutustitle" class="display-6">Quienes somos</h1>
                    <br>
                    <p id="loremaboutus">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo libero quaerat beatae, repellat deserunt molestias? Ab, quisquam magni. Doloremque impedit, repudiandae eos nam libero vitae voluptas quos consectetur quidem unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos praesentium omnis dolores repellendus itaque dolorum laudantium sed! Error perferendis ipsam, autem tempora officia enim debitis maiores amet obcaecati, tempore doloremque.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
{% endblock content %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock footer %}
    
    