{% load static %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/includes/header.css' %}">
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/bootstrap5.2/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap5.2/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap5.2/bootstrap.min.js' %}"></script>
<!--	Navbar  Coding   -->
<header>
    <div class="m-4">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="{% url 'app_home:home' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"><br>
                    <img id="homeItem" src="{% static 'assets/images/logo/processSA.png' %}" alt="Home">
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                        <div class="col-md-12"></div><div class="col-md-12"></div><div class="col-md-12"></div>
                        <div class="col-md nav-item nav-link dropdown">
                            <a id="letrasImagenes" href="#" class="text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                <img id="tuercalogo" src="{% static 'assets/images/header/tuerca.png' %}" alt=""><br>
                                Gestionar
                            </a>
                            <ul id="menudropdown" class="dropdown-menu">
                                <li><a id="dropDownGestionar" class="dropdown-item" role="button" href="{% url 'app_users:tareas' %}">Gestionar tareas</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a id="dropDownGestionar" class="dropdown-item" role="button" href="{% url 'app_users:tareas-list' %}">Mostrar tareas</a></li>
                            </ul>
                        </div>
                        {%else%}
                        <div class="col-md-12"></div><div class="col-md-12"></div><div class="col-md-12"></div>
                        <div class="col-md-12"></div><div class="col-md-12"></div><div class="col-md-12"></div>
                        <div class="col-md-12"></div><div class="col-md-5"></div>
                        {% endif %}
                        <div class="col-md-6 nav-item nav-link dropdown">
                            <a id="letrasImagenes" class="text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                                <img id="userlogo" src="{% static 'assets/images/header/user.png' %}" alt=""><br>
                                Usuario
                            </a>
                            <ul id="menudropdown" class="dropdown-menu">
                                <li><a id="dropdownLogin" class="dropdown-item" role="button" href="{% url 'app_users:login' %}">Iniciar sesión</a></li>
                                {% if user.is_authenticated %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a id="dropdownLogin" class="dropdown-item" role="button" href="{% url 'app_users:logout' %}">Finalizar sesión</a></li> 
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--   END Navbar Coding   -->