{% extends 'base.html' %}

{% block title %}
Ver flujos
{% endblock title %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/flujos/list_flujos.css' %}">
{% include 'includes/header.html' %}
    {% for flujo in object_list %}
    <div id="container">
        <div class="product-details">
            <h1> {{flujo.flujo_id_flujo.id_flujo}} - {{flujo.flujo_id_flujo.nombre_flujo}}</h1>
            <span class="hint-star star">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </span>
            
            <p class="information">
                <table id="tablaTareaPersona" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 100px;">ID
                            <th scope="col" style="width: 100px;">Tarea
                            <th scope="col" style="width: 120px;">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>{{flujo.tarea_id_tarea.id_tarea}}</td>
                            <td>{{flujo.tarea_id_tarea.titulo_tarea}}</td>
                            <input name="tarea_id" id="tarea_id{{flujo.tarea_id_tarea.id_tarea}}" type="hidden" value="{{flujo.tarea_id_tarea.titulo_tarea}}|{{flujo.tarea_id_tarea.desc_tarea}}|{{flujo.tarea_id_tarea.fecha_inicio}}|{{flujo.tarea_id_tarea.fecha_termino}}|{{flujo.tarea_id_tarea.etiqueta}}|{{flujo.tarea_id_tarea.porc_cumplimiento}}|{{flujo.tarea_id_tarea.estado_id_estado.id_estado}}|{{flujo.tarea_id_tarea.diferencia_dias_fechas}}">
                            <td><button class="btn btn-primary" onclick="detalleTarea({{flujo.tarea_id_tarea.id_tarea}})">Ver</button></td>
                        </tr>
                        
                    </tbody>
                </table>
            </p>
            <p style="height: 0px; margin:0px;">Creación: {{flujo.flujo_id_flujo.fecha_creacion}}</p>
        </div>
        <div class="product-image">
            <img id="flujoimg" src="{% static 'assets/images/flujo/flow.png' %}"
                alt="">
            <div class="info">
                <h2>Descripción del flujo</h2>
                <textarea id="textarea" class="form-control" cols="10" rows="10" readonly>{{flujo.flujo_id_flujo.descripcion}}
                </textarea>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="paginator">{% include 'includes/paginator.html' %}</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/flujos/list_flujos.js' %}"></script>
{% endblock js %}
    