{% extends 'base.html' %}

{% block title %}
    Process SA - Error 404
{% endblock title %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/errors/404.css' %}">
    {% include 'includes/header.html' %}
    <div class="d-flex align-items-center justify-content-center">
        <div id="text_container" class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Página no encontrada.</p>
            <p class="lead">
                La página que estás buscando no existe.
              </p>
            <a href="{% url 'app_home:home' %}" class="btn btn-primary">Volver a la página principal</a>
        </div>
    </div>
{% endblock content %}

{% block js %}
{% endblock js %}
    