{% extends 'base.html' %}

{% block title %}
    Asignar responsable
{% endblock title %}

{% block content %}
    {% load static %}
    <!-- links -->
    <link rel="stylesheet" href="{% static 'css/users/asignar_responsable.css' %}">
    <!-- end links -->
    {% include 'includes/header.html' %}
    <div class="container-fluid">
        <div class="row" id="tablaDetalle" style="display: none;">
            <div class="col-9">
                <button class="acordeonJS" id="detallePersona"></button>
                <div class="panel" id="panel1">
                    <div id="tableDetalleTareasContainer">
                        <table id="tablaDetalleTareas" class="table table-hover">
                            <thead>
                                <tr>
                                    <th id="columnas" scope="col">Título tarea</th>
                                    <th id="columnas" scope="col">Descripción</th>
                                    <th id="columnas" scope="col">Fecha inicio</th>
                                    <th id="columnas" scope="col">Fecha término</th>
                                </tr>
                            </thead>
                            <tbody id="panelData">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="botones">
            <hr class="my-3">
            <div class="col-2">
                <button id="btnObtenerDatos" class="btn btn-primary">Obtener datos</button>
            </div>
            <div class="col-2">
                <button id="btnEsconderTabla" class="btn btn-success" style="display: none;" onclick="esconderTabla()">Esconder tabla</button>
            </div>
            <div class="col-2">
                <form method="POST" id="formAsignarTareas" onsubmit="return asignarTareasForm(this);">{% csrf_token %}
                    <button id="btnAsignarTareas" class="btn btn-info" style="display: none;" type="submit">Asignar tareas</button>
                </form>
            </div>
            <hr class="my-3">
        </div>
        <div class="row">
            <div class="col-6">
                <h5 class="display-6" id="h5Tarea">Responsable</h5>
                <p class="text-muted" id="h5Tarea">Selecciona alguna persona</p>
                <div class="btn-group">
                    <input maxlength="10" type="text" id="filterInputPersona" onkeypress="validate(event)" onkeyup="filterPersona()" placeholder="Buscar por RUT de persona...">
                    <button id="btnCleanPersona" class="btn btn-primary" onclick="btnCleanPersonaClick()"><img id="iconClean" src="{% static 'assets/images/iconos/clean.png' %}" alt="..."></button>
                </div>
                <div id="tablecontainer">
                    <table id="tablaPersona" class="table table-hover">
                        <thead>
                            <tr>
                                <th id="columnas" scope="col">ID persona</th>
                                <th id="columnas" scope="col">Rut</th>
                                <th id="columnas" scope="col">Nombre</th>
                                <th id="columnas" scope="col">Apellidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for persona in lista_personas %}
                                {% for item in persona %}
                                    <tr>
                                        <td>
                                            <div>
                                                <input class="form-check-input" type="radio" id="radioBtnNoLabelPersona" name="radioPersona" value="{{item.rut_persona}}|{{item.nombre_persona}}|{{item.apellido_paterno_persona}}|{{item.apellido_materno_persona}}|{{item.id_persona}}" aria-label="...">&nbsp;&nbsp;{{item.id_persona}}
                                            </div>
                                        </td>
                                        <td>{{item.rut_persona}}</td>
                                        <td>{{item.nombre_persona}}</td>
                                        <td>{{item.apellido_paterno_persona}} {{item.apellido_materno_persona}}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h5 class="display-6" id="h5Tarea">Asignar tareas</h5>
                <p class="text-muted" id="h5Tarea">Selecciona alguna tarea</p>
                <div class="btn-group">
                    <input maxlength="45" type="text" id="filterInputTarea" onkeyup="filterTarea()" placeholder="Buscar por título de tarea...">
                    <button id="btnCleanTarea" class="btn btn-primary" onclick="btnCleanTareaClick()"><img id="iconClean" src="{% static 'assets/images/iconos/clean.png' %}" alt="..."></button>
                </div>
                <div id="tablecontainer">
                    <table id="tablaTarea" class="table table-hover">
                        <thead>
                            <tr>
                                <th id="columnas" scope="col">ID tarea</th>
                                <th id="columnas" scope="col">Título tarea</th>
                                <th id="columnas" scope="col">Descripción</th>
                                <th id="columnas" scope="col">Fecha inicio</th>
                                <th id="columnas" scope="col">Fecha término</th>
                                <th id="columnas" scope="col">Flujo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tarea in lista_tareas %}
                                <tr>
                                    {% if tarea.estado_id_estado.id_estado == 1 %}
                                        <td>
                                            <div>
                                                <input class="form-check-input" type="checkbox" id="checkboxNoLabelTarea" value="{{tarea.id_tarea}}|{{tarea.titulo_tarea}}|{{tarea.desc_tarea}}|{{tarea.fecha_inicio}}|{{tarea.fecha_termino}}" aria-label="..." onclick="countCheckboxes()">&nbsp;&nbsp;{{tarea.id_tarea}}
                                            </div>
                                        </td>
                                        <td>{{tarea.titulo_tarea}}</td>
                                        <td><textarea class="form-control" cols="7" rows="2">{{tarea.desc_tarea}}</textarea></td>
                                        <td>{{tarea.fecha_inicio}}</td>
                                        <td>{{tarea.fecha_termino}}</td>
                                        <td>No</td>
                                    {% elif tarea.estado_id_estado.id_estado == 9 %}
                                        <td>
                                            <div>
                                                <input class="form-check-input" type="checkbox" id="checkboxNoLabelTarea" value="{{tarea.id_tarea}}|{{tarea.titulo_tarea}}|{{tarea.desc_tarea}}|{{tarea.fecha_inicio}}|{{tarea.fecha_termino}}" aria-label="..." onclick="countCheckboxes()">&nbsp;&nbsp;{{tarea.id_tarea}}
                                            </div>
                                        </td>
                                        <td>{{tarea.titulo_tarea}}</td>
                                        <td><textarea id="textarea" class="form-control" cols="7" rows="2" readonly>{{tarea.desc_tarea}}</textarea></td>
                                        <td>{{tarea.fecha_inicio}}</td>
                                        <td>{{tarea.fecha_termino}}</td>
                                        <td>Sí</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/users/asignar_responsable.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock js %}