{% extends 'base.html' %}
{% block title %} 
  Carga de trabajo
{% endblock title%} 
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/users/calcular_carga_trabajo.css' %}">
  {% include 'includes/header.html' %}
  <br>
  <div id="maincontainer" class="container-fluid">
    <div class="table-responsive">
      <h5 class="display-6" id="h5Tarea">Carga de trabajo</h5>
      <p class="text-muted" id="h5Tarea">Carga de trabajo de personas con tareas asignadas</p>
      <div class="btn-group">
          <input maxlength="10" type="text" id="filterInputRutPersona" onkeypress="validate(event)" onkeyup="filterRutPersona()" placeholder="Filtrar por RUT de persona...">
          <button id="btnCleanRutPersona" class="btn btn-primary" onclick="btnCleanRutPersonaClick()"><img id="iconClean" src="{% static 'assets/images/iconos/clean.png' %}" alt="..."></button>
      </div>
      <div class="btn-group">
        <input maxlength="40" type="text" id="filterInputNombrePersona" onkeyup="filterNombrePersona()" placeholder="Filtrar por nombre de persona...">
        <button id="btnCleanNombrePersona" class="btn btn-primary" onclick="btnCleanNombrePersonaClick()"><img id="iconClean" src="{% static 'assets/images/iconos/clean.png' %}" alt="..."></button>
      </div>
      <table id="tablaTareaPersona" class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 100px;">Tarea ID</th>
            <th scope="col" style="width: 200px;">Rut</th>
            <th scope="col" style="width: 340px;">Nombre completo</th>
            <th scope="col" style="width: 280px;">Email</th>
            <th scope="col" style="width: 220px;">Departamento</th>
            <th scope="col" style="width: 120px;">Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for persona in tareas_persona %}
            <tr>
              <td scope="row">{{persona.tarea_id_tarea.id_tarea}}</td>
              <td>{{persona.persona_id_persona.rut_persona}}</td>
              <td>{{persona.persona_id_persona.nombre_persona}} {{persona.persona_id_persona.apellido_paterno_persona}} {{persona.persona_id_persona.apellido_materno_persona}}</td>
              <td>{{persona.persona_id_persona.email_persona}}</td>
              <input name="tarea_id" id="tarea_id{{persona.tarea_id_tarea.id_tarea}}" type="hidden" value="{{persona.tarea_id_tarea.titulo_tarea}}|{{persona.tarea_id_tarea.desc_tarea}}|{{persona.tarea_id_tarea.fecha_inicio}}|{{persona.tarea_id_tarea.fecha_termino}}|{{persona.tarea_id_tarea.etiqueta}}|{{persona.tarea_id_tarea.porc_cumplimiento}}|{{persona.tarea_id_tarea.estado_id_estado.id_estado}}|{{persona.tarea_id_tarea.diferencia_dias_fechas}}">
              <td>{{persona.persona_id_persona.departamento_id_departamento.departamento}}</td>
              <td><button class="btn btn-primary" onclick="detalleTarea({{persona.tarea_id_tarea.id_tarea}})">Ver tarea</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div id="paginator">{% include 'includes/paginator.html' %}</div>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/users/calcular_carga_trabajo.js' %}"></script>
{% endblock js %}
  