{% extends 'base.html' %}

{% block title %}
    Tarea N°{{object_tarea.id_tarea}}
{% endblock title %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/detalle_tareas.css' %}">
    {% include 'includes/header.html' %}
    <div class="container-sm">
        <form method="POST" action="{% url 'app_users:tareas-terminar' %}" onsubmit="return finalizarTarea(this);">{% csrf_token %}
            <div class="row align-items-start">
                <input name="tarea_id" type="hidden" value="{{object_tarea.id_tarea}}">
                <div class="col">
                    <h1 class="display-6">Título tarea: {{object_tarea.titulo_tarea}}</h1>
                </div>
                <div class="col">
                    <h1 class="display-6">Etiqueta: {{object_tarea.etiqueta}}</h1>
                </div>
            </div>
            <hr>
            <div class="mb-3">
                <label class="form-label" for="descTarea">Descripción: </label>
                <textarea id="descTarea" class="form-control" cols="30" rows="3" readonly>{{object_tarea.desc_tarea}}</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="fTermino">Porcentaje de cumplimiento: </label><br>
                {% if object_tarea.porc_cumplimiento > 0 %}
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{object_tarea.porc_cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{object_tarea.porc_cumplimiento}}%"></div>
                </div>
                <small class="text-muted">{{object_tarea.porc_cumplimiento}}%</small>
                {% else %}
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <small class="text-muted">0%</small>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label" for="estadoTarea">Estado de tarea: <small class="text-muted">{{object_tarea.estado_tarea}}</small></label>
            </div>
            <div class="mb-3">
                <label class="form-label" for="fInicio">Fecha inicio: </label><br>
                <input type="text" id="fInicio" value="{{object_tarea.fecha_inicio}}" disabled>
            </div>
            <div class="mb-3">
                <label class="form-label" for="fTermino">Fecha término: </label><br>
                <input type="text" id="fTermino" value="{{object_tarea.fecha_termino}}" disabled>
            </div>
            <hr>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Finalizar Tarea</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block js %}
<script>
    function finalizarTarea(form){
        Swal.fire({
            "titleText": "¿Estás seguro de finalizar la tarea?",
            'text': "¡Esta acción es irreversible!",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Finalizar",
            "cancelButtonColor": "red",
            "confirmButtonColor": "green",
            "reverseButtons": true,
            "focusConfirm": true
        })
        .then(function(result){
            if(result.isConfirmed){
                form.submit();
            }
        })
        return false;
    }
</script>
{% endblock js %}
    
    