{% extends 'base.html' %}

{% block title %}
    Tarea N°{{object_tarea.id_tarea}}
{% endblock title %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/detalle_tareas.css' %}">
    {% include 'includes/header.html' %}
    <div class="container-sm">
        <div class="row align-items-start">
            <form method="POST" action="{% url 'app_users:tareas-update' %}" onsubmit="return editarTarea(this);">{% csrf_token %}
                <input name="idTarea" type="hidden" value="{{object_tarea.id_tarea}}">
                <div class="col-6">
                    <label class="form-label" for="tituloTarea">Título tarea: </label>
                    <input class="form-control" type="text" name="tituloTarea" id="tituloTarea" value="{{object_tarea.titulo_tarea}}" maxlength="35">
                    <br>
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    <label class="form-label" for="etiquetaTarea">Etiqueta tarea: </label>
                    <input class="form-control" type="text" name="etiquetaTarea" id="etiquetaTarea" value="{{object_tarea.etiqueta}}" maxlength="20">
                    <br>
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    <label class="form-label" for="descTarea">Descripción: </label>
                    <textarea name="descTarea" id="descTarea" class="form-control" cols="30" rows="3" maxlength="500">{{object_tarea.desc_tarea}}</textarea>
                    <br>
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    <label class="form-label" for="fTermino">Porcentaje de cumplimiento: </label><br>
                    {% if object_tarea.porc_cumplimiento > 0 %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{object_tarea.porc_cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{object_tarea.porc_cumplimiento}}%"></div>
                    </div>
                    <small class="text-muted">{{object_tarea.porc_cumplimiento}}%</small>
                    {% else %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    <small class="text-muted">0%</small>
                    {% endif %}
                    <br><br>
                </div>
                <div class="col-12">
                    <label class="form-label" for="estadoTarea">Estado de tarea: <small class="text-muted">{{object_tarea.estado_tarea}}</small></label>
                    <br><br>
                </div>
                <div class="col-12">
                    <label class="form-label" for="fInicio">Fecha inicio: </label><br>
                    <input type="text" name="fInicio" id="fInicio" value="{{object_tarea.fecha_inicio}}" readonly>
                    <br><br>
                </div>
                <div class="col-12">
                    <label class="form-label" for="fTermino">Fecha término: </label><br>
                    <small class="text-muted">Actual: </small>{{object_tarea.fecha_termino}}
                    <br>
                </div>
                <div class="col-12">
                    <small class="text-muted">Nueva: </small>
                    <input type="date" name="fTermino" id="fTermino" value="{{object_tarea.fecha_termino}}">
                </div>
                <hr class="my-4">
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Editar Tarea</button>
                </div><br>
            </form>
            <div class="col">
                {% if object_tarea.estado_tarea != 'Finalizada' %}
                <form method="POST" action="{% url 'app_users:tareas-terminar' %}" onsubmit="return finalizarTarea(this);">{% csrf_token %}
                    <input name="tarea_id" type="hidden" value="{{object_tarea.id_tarea}}">
                    <button class="btn btn-danger" type="submit">Finalizar Tarea</button>
                </form>
                {% else %}
                <button class="btn btn-danger" type="button" disabled>Finalizar Tarea</button>
                {% endif %}
            </div>
        </div>        
    </div>
{% endblock content %}

{% block js %}
<script>
    function finalizarTarea(form){
        Swal.fire({
            "titleText": "¿Estás seguro de finalizar la tarea?",
            'text': "¡Esta acción es irreversible!",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Finalizar",
            "cancelButtonColor": "red",
            "confirmButtonColor": "green",
            "reverseButtons": true,
            "focusConfirm": true
        })
        .then(function(result){
            if(result.isConfirmed){
                form.submit();
            }
        })
        return false;
    }

    function editarTarea(form){
        Swal.fire({
            "titleText": "¿Estás seguro de editar la tarea?",
            'text': "Esta acción se puede realizar nuevamente",
            "icon": "warning",
            "showCancelButton": true,
            "cancelButtonText": "Cancelar",
            "confirmButtonText": "Editar",
            "cancelButtonColor": "red",
            "confirmButtonColor": "green",
            "reverseButtons": true,
            "focusConfirm": true
        })
        .then(function(result){
            if(result.isConfirmed){
                form.submit();
            }
        })
        return false;
    }
</script>
{% endblock js %}