{% extends 'base.html' %}

{% block title %}
    Tareas solicitadas
{% endblock title %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/list_tareas_solicitadas.css' %}">
    {% include 'includes/header.html' %}
    <div class="container-sm">
        {% for tarea in tareas_solicitadas %}
            <div class="row">
                <div class="col-6">
                    {% for item in tarea %}
                    <form id="form{{item.tarea_id_tarea.id_tarea}}" method="POST" action="{% url 'app_users:tareas-solicitadas-aceptar' %}" onsubmit="return aceptarTarea(this)">{% csrf_token %}
                        <input name="tarea_id" type="hidden" value="{{item.tarea_id_tarea.id_tarea}}">
                        <input name="titulo" type="hidden" value="{{item.tarea_id_tarea.titulo_tarea}}">
                        <input name="descripcion" type="hidden" value="{{item.tarea_id_tarea.desc_tarea}}">
                        <input name="finicio" type="hidden" value="{{item.tarea_id_tarea.fecha_inicio}}">
                        <input name="ftermino" type="hidden" value="{{item.tarea_id_tarea.fecha_termino}}">
                        <input name="etiqueta" type="hidden" value="{{item.tarea_id_tarea.etiqueta}}">
                        <button class="btn btn-primary" type="submit">Título tarea: {{item.tarea_id_tarea.titulo_tarea}}</button>
                    </form> 
                    {% endfor %}
                </div>
                <div class="col-6"></div>
            </div><br>
        {% endfor %}
    </div>
{% endblock content %}

{% block js %} 
    <script src="{% static 'js/users/list_tareas_solicitadas.js' %}"></script>
{% endblock js %}
    