{% extends 'base.html' %}

{% block title %}
    Mostrar tareas
{% endblock title %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/list_tareas.css' %}">
    {% include 'includes/header.html' %}
    <div class="container-sm">
        <div class="container text-center">
            <div class="row align-items-start">
            {% for element in lista_tareas %}
            <div id="cardContenido" class="col">
                <div class="card" style="width: 14rem;">
                    <span><img id="imgTarea" src="{% static 'assets/images/tarea/2.png' %}" class="card-img-top" alt="..."><img id="imgTarea1" src="{% static 'assets/images/tarea/1.png' %}" class="card-img-top" alt="..."></span>
                    <div class="card-body">
                        <form action="{% url 'app_users:tareas-detalle' element.id_tarea %}">{% csrf_token %}
                            <input name="tarea_id" type="hidden" value="{{element.id_tarea}}">
                            <h5 class="card-title">{{element.titulo_tarea}}</h5>    
                            <textarea class="card-text form-control" disabled>{{element.desc_tarea}}</textarea>
                            {% if  element.estado_id_estado.id_estado == 1 %}
                            <small class="text-muted">Estado: Activa</small>
                            {% elif element.estado_id_estado.id_estado == 2 %}
                            <small class="text-muted">Estado: Asignada</small>
                            {% elif element.estado_id_estado.id_estado == 3 %}
                            <small class="text-muted">Estado: En ejecución</small>
                            {% elif element.estado_id_estado.id_estado == 4 %}
                            <small class="text-muted">Estado: Finalizada</small>
                            {% elif element.estado_id_estado.id_estado == 6 %}
                            <small class="text-muted">Estado: Rechazada</small>
                            {% elif element.estado_id_estado.id_estado == 7 %}
                            <small class="text-muted">Estado: Atrasada</small>
                            {% elif element.estado_id_estado.id_estado == 8 %}
                            <small class="text-muted">Estado: Vencida</small>
                            {% endif %}
                            {% if element.estado_id_estado.id_estado == 4 %}
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-label="Danger example" style="width: {{element.porc_cumplimiento}}%" aria-valuenow="{{element.porc_cumplimiento}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <hr>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-danger">Ver</button>&nbsp;
                                <button type="button" class="btn btn-primary" disabled>Administrar</button>
                            </div>
                            {% elif element.estado_id_estado.id_estado == 7 %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{element.porc_cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{element.porc_cumplimiento}}%"></div>
                            </div>
                            <hr>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-danger">Ver</button>&nbsp;
                                <button class="btn btn-primary" type="button" onclick="showoffcanvas();" aria-controls="offcanvasExample">
                                    Administrar
                                </button> 
                            </div>
                            {% elif element.estado_id_estado.id_estado == 8 %}
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-label="Danger example" style="width: {{element.porc_cumplimiento}}%" aria-valuenow="{{element.porc_cumplimiento}}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <hr>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-danger">Ver</button>&nbsp;
                                <button type="button" class="btn btn-primary" disabled>Administrar</button>
                            </div>
                            {% else %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{element.porc_cumplimiento}}" aria-valuemin="0" aria-valuemax="100" style="width: {{element.porc_cumplimiento}}%"></div>
                            </div>
                            <hr>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-success">Ver</button>&nbsp;
                                <button class="btn btn-primary" type="button" onclick="showoffcanvas();" aria-controls="offcanvasExample">
                                    Administrar
                                </button> 
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}              
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-dark" id="offcanvasExampleLabel">Menú actualización</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" onclick="hideoffcanvas();" aria-label="Close"></button>
                </div>
                <br><br>
                <div class="offcanvas-body">
                    <div class="text-dark">
                    Actualización de progresos de tareas con estado diferente a "Finalizada".
                    </div>
                    <form method="POST" action="{% url 'app_users:tareas-actualizar' %}">{% csrf_token %}
                        <div class="dropdown mt-3">
                            <button class="btn btn-primary" type="submit">Actualizar progresos</button>
                        </div>
                    </form>
                    <hr>
                    <div class="text-dark">
                        Alertar a responsables de tareas que tengan un día de plazo o estén atrasadas
                        </div>
                        <form method="POST" action="{% url 'app_users:tareas-alertar-atrasos' %}">{% csrf_token %}
                            <div class="dropdown mt-3">
                                <button class="btn btn-success" type="submit">Alertar atrasos</button>
                            </div>
                        </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    <p align="center">{% include 'includes/paginator.html' %}</p>

{% endblock content %}

{% block js %} 
    <script src="{% static 'js/users/list_tareas.js' %}"></script>
{% endblock js %}
    