{% extends 'base.html' %}

{% block title %}
    Tareas asignadas
{% endblock title %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users/list_tareas_asignadas.css' %}">
    {% include 'includes/header.html' %}
    <div class="container-sm">
        {% for tarea in tareas_asignadas %}
            <div class="row">
                <div class="col-6">
                    {% for item in tarea %}
                    <form method="POST">{% csrf_token %}
                        <input name="tarea_id" type="hidden" value="{{item.tarea_id_tarea.id_tarea}}">
                        <input name="titulo" type="hidden" value="{{item.tarea_id_tarea.titulo_tarea}}">
                        <input name="descripcion" type="hidden" value="{{item.tarea_id_tarea.desc_tarea}}">
                        <input name="finicio" type="hidden" value="{{item.tarea_id_tarea.fecha_inicio}}">
                        <input name="ftermino" type="hidden" value="{{item.tarea_id_tarea.fecha_termino}}">
                        <input name="etiqueta" type="hidden" value="{{item.tarea_id_tarea.etiqueta}}">
                        <button class="btn btn-secondary" type="submit">Título tarea: {{item.tarea_id_tarea.titulo_tarea}}</button>
                    </form>
                    {% endfor %}
                </div>
                <div class="col-6"></div>
            </div><br>
        {% endfor %}
    </div>
{% endblock content %}

{% block js %} 
    <script src="{% static 'js/users/list_tareas_asignadas.js' %}"></script>
{% endblock js %}
    