{% extends 'base.html' %}

{% block title %}
    Gestionar tareas
{% endblock title %}

{% block content %}
    {% load static %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/users/tareas.css' %}">
    {% include 'includes/header.html' %}
    <div class="container-sm">
        <form method="POST"> {% csrf_token %} 
            <div class="mb-3">
                <label class="form-label">Título tarea: </label>
                {{form.titulo_tarea}}
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                {{form.desc_tarea}}
            </div>
            <div class="mb-3">
                <label  class="form-label">Fecha inicio</label>
                {{form.fecha_inicio}}
            </div>
            <div class="mb-3">
                <label  class="form-label">Fecha término</label>
                {{form.fecha_termino}}
            </div>
            <div class="mb-3">
                <label  class="form-label">Etiqueta</label>
                {{form.etiqueta}}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Crear tarea</button>
            </div>
        </form>
    </div>
{% endblock content %}
    