{% extends 'base.html' %}

{% block title %}
    User
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="container-sm">
        <h1>Bienvenido "{{user.nombre_usuario}}"!</h1>
        <ul>
        {{request.session.rol_id}}<br>
        {% for user in object_list %}
            <li>ID: {{user.id_usuario}}</li>
            <li>Nombre: {{user.nombre_usuario}}</li>
            <li>Contraseña: {{user.password_usuario}}</li>
            <br><br>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}
    