body{
    background-image: url("../../assets/images/fondo/background4.jpg");
    background-size: 73%;
    background-position-x: center;
    background-attachment: fixed;
    max-width: 99%;
}

#homeItem{
    width: 270px;
    background-color: transparent;
}

#navbackground{
    background-color: transparent;
    height: 72px;
}

#letrasImagenes{
    font-style: italic;
    margin-left: 4px;
}

#dropdownLogin, #dropDownGestionar{
    text-align: left;
}

#menudropdown{
    border: transparent;
}

#tuercalogo{
    margin-left: 10px;
    width: 50px;
}

#userlogo{
    margin-left: 3px;
    margin-bottom: 2px;
    width: 49px;
}


#chartLogo{
    margin-left: -7px;
    margin-top: -6px;
    width: 55.5px;
}

#problemalogo {
    margin-left: 27px;
    margin-top: -3.5px;
    width: 52px;
}

#resumeLogo{
    margin-left: -7px;
    margin-top: -3.5px;
    width: 52.5px;
}

#navbarms{
    margin-top: 0px;
}

.badge {
    background-color: rgb(16, 190, 0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 50%;
    padding: 5px 10px;
    text-align: center;
    margin-left: 5px;
}

/* #navbarcontainer{
    max-width: 100%;
    margin-right: 0px;
}

#dropdownusuario {
    width: 10px;
} */

#separatorUsuario {
    padding-left: 750px;
}

#separatorGerente {
    padding-left: 190px;
}